<p id="notice"><%= notice %></p>
<hr>
<div id="show">
  <%= image_tag "logoCUL.bmp", {:style => "float:right;"} %> 
  <h4>Name: </h4><p><%= @breed.name %>
  <h4>description: </h4><p><%= @breed.description%>
  <h4>Specie: </h4><p><%= @breed.species.name rescue "especie no existe"%>
  </div>
<hr>
<% if can? :update, Breed%>
<%= link_to 'Edit', edit_breed_path(@breed) %> |
<% end%>

<%= link_to 'Back', breeds_path %>
