<h1>List</h1>

<table id = "index">
  <tr>
    <th>Name</th>
  </tr>

<% @species.each do |specie| %>
  <tr>
    <td><%= specie.name %></td>
    <td><%= link_to 'Show', species_path(specie) %></td>
	  <% if can? :update, Species%>
    <td><%= link_to 'Edit', edit_species_path(specie) %></td>
    <% end%>
    <% if can? :destroy, Species%>
    <td><%= link_to 'Destroy', species_path(specie), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end%>
    
    </tr>
<% end %>
  </table>

<br />

<% if can? :create, Species%>
<%= link_to 'New Specie', new_species_path %>
<% end%>
<% if can? :create, Species%>
| <%= link_to 'Buscar', search_species_index_path %>
<% end%>

