<h1>List</h1>

<table id ="index">
  <tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>Owner?</th>      
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.lastName %></td> 
    <td><%= client.isowner? ? "Si": "No"%></td>     
    <td><%= link_to 'Show', client %></td>
    <%if can? :update, Client%>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <%end%>
    <%if can? :destroy, Client%>
      <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
    
  </tr>
<% end %>
</table>

<br />
<%if can? :create, Client%>
<%= link_to 'New Client', new_client_path %>
<%end%>
<%if can? :update, Client%>
<%= link_to 'Buscar', search_clients_path %>
    <%end%>
