<h1>List</h1>

<table id = "index">
  <tr>
    <th>Name</th>
    <th>Last Name</th>
    <th>Speciality</th>

  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.lastName %></td> 
    <td><%= doctor.speciality%></td>

    <td><%= link_to 'Show', doctor %></td>
    <%if can? :update, Doctor%>
      <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
    <%end%>
    <%if can? :destroy, Doctor%>
      <td><%= link_to 'Destroy', doctor, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
    
  </tr>
<% end %>
</table>

<br />
<%if can? :create, Doctor%>
<%= link_to 'New Doctor', new_doctor_path %> | 
<%end%>

    <%if can? :update, Doctor%>
    | <%= link_to 'Search', search_doctors_path %>
    <%end%>

