<p id="notice"><%= notice %></p>

<hr>
<div id="show">
  <%= image_tag "logoCUL.bmp", {:style => "float:right;"} %> 
  <h4>Dia: </h4><p><%=@horary.day %>
  <h4>Hora inicio: </h4><p><%=@horary.startTime %>
  <h4>Hora final: </h4><p><%= @horary.finalHour %>
  <h4>Doctor: </h4><p><%= @horary.doctor.name %>
  </div>
<hr>

<%= link_to 'Edit', edit_horary_path(@horary) %> |
<%= link_to 'Back', horaries_path %>
