<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div>
<div>Nombre</div>
  <%= f.text_field :name %> 
</div>

<div>
  <div>Descripcion</div>
  <%= f.text_area :description, :cols => 20, :rows => 10 %>
</div>

<div class="actions">
    <%= f.submit 'Guardar'%>
</div>
<% end %>
