<h1>List</h1>

<table id ="index">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= role.description%></td>
	<% if can? :manage, :all%>
		<td><%= link_to 'Show', role %></td>
		<td><%= link_to 'Edit', edit_role_path(role) %></td>
		<td><%= link_to 'Delete', role, :confirm => '¿Estás Seguro?', :method => :delete %></td>
	<% end%>
    
  </tr>
<% end %>
</table>

<br />
<% if can? :manage, :all%>
<%= link_to 'New Role', new_role_path %>		
	<% end%>

