<!DOCTYPE html>
<html>
	<head>
	  <title>VeterinaryClinic</title>
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
	</head>
	<body>  
		<div id = "container">
        <div class="menu">
          <ul>
          <li><%= link_to "Animales", animals_path, :id=> "current" %></li>
          <li><%= link_to "Clientes", clients_path%></li>
          <li><%= link_to "Razas", breeds_path%></li>
          <li><%= link_to "Especies", species_index_path%></li>
          <li><%= link_to "Doctores", doctors_path%></li>
          <li><%= link_to "Horarios", horaries_path%></li>
          <li><%= link_to "Citas", meetings_path%></li>
          <li><%= link_to "Tipos consulta", type_consults_path%></li>
          <li><%= link_to "Consultas", consultas_path%></li>
          </ul>
        </div>
    <br>
    <br>     
      <div class="nav">
      <div class="table">

       <ul class="select">
       <li><b><%= link_to "Animales", animals_path, :id=> "current" %></b></li>
       <li><b><%= link_to "Clientes", clients_path%><b></li>
       <li><b><%= link_to "Razas", breeds_path%><b></li>
       <li><b><%= link_to "Especies", species_index_path%><b></li>
       <li><b><%= link_to "Doctores", doctors_path%><b></li>
       <li><b><%= link_to "Horarios", horaries_path%><b></li>
       <li><b><%= link_to "Citas", meetings_path%><b></li>
       <li><b><%= link_to "Tipos consulta", type_consults_path%><b></li>
       <li><b><%= link_to "Consultas", consultas_path%><b></li>
       </ul> 
       
      </div>
      </div>
      
      
    <br>
		<h1> Clinica Veterinaria </h1>

		<%= yield %>
		</div>
	</body>
</html>
